img.logo {
    height: 90px;
    width: 120px;
}

a.logIn.right {
    float: right !important;
    color: rgb(127, 128, 168);
    font-size: 33px;
}

a.signIn.right {
    float: right !important;
    margin-top: -30px;
    color: rgb(127, 128, 168);
    font-size: 33px;
}

div.isLogIn {
    display: none;
    margin: 15px;
}

div.signInContext {
    display: none;
    margin: 15px;
}

div.editingContext {
    display: none;
}

.btn.btn-primary {
    margin-left: 40%;
}

.alert.alert-success.connected {
    display: none;
}
.alert.alert-danger {
    display:none;
}
div#adminContext.adminContext {
    display: none;
}